# Java-specific ignores
.idea/
.gradle/
build/
target/
*.jar
*.war
*.ear
*.log
*.class
.classpath
.project
.settings/
tmp/
out/

# Angular-specific ignores
/node_modules
/dist
.angular/cache
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env


.DS_Store
